[submodule "blackjax"]
	path = blackjax
	url = https://github.com/aphc14/blackjax.git
[submodule "pymc"]
	path = pymc
	url = https://github.com/aphc14/pymc.git
[submodule "pymc-experimental"]
	path = pymc-experimental
	url = https://github.com/aphc14/pymc-experimental.git
