[submodule "blackjax"]
	path = blackjax
	url = git@github.com:aphc14/blackjax.git
[submodule "pymc"]
	path = pymc
	url = git@github.com:aphc14/pymc.git
[submodule "pymc-experimental"]
	path = pymc-experimental
	url = git@github.com:aphc14/pymc-experimental.git
